*{
	margin: 0;
	padding: 0;
}
.container{
	margin: 10px 20px;
	width: ;
	font-family: sans-serif;
}
header{
	text-align: center;
}
header h1{
	font-size: 15px;
	line-height: 1.1rem;
}
header h3{
	font-size: 7px;
	line-height: 0.8rem;
	color: #0779ea;
}
header span{
	font-weight: bold;
}
header p{
	font-size: 7px;
	line-height: 0.8rem;
	margin-bottom: 5px;
}
/*390*/
@media(min-width:390px){
.container{
	margin: 20px 50px;
	width: ;
	font-family: sans-serif;
}
header{
	text-align: center;
}
header h1{
	font-size: 19px;
	line-height: 2.1rem;
}
header span{
	font-weight: bold;
}
header h3{
	font-size: 10px;
	line-height: 1.3rem;
	color: #0779ea;
}
header p{
	font-size: 10px;
	line-height: 1.3rem;
	margin-bottom: 8px;
}
}
/*768*/
@media(min-width:768px){
	
.container{
	margin: 40px 70px;
	width:;
	font-family: sans-serif;
}
header{
	text-align: center;
}
header h1{
	font-size: 24px;
	line-height: 2.5rem;
}
header span{
	font-weight: bold;
}
header h3{
	font-size: 13px;
	line-height: 2rem;
	color: #0779ea;
}
header p{
	font-size: 13px;
	line-height: 1.5rem;
	margin-bottom: 12px;
}
}
/*1024*/
@media(min-width:1024px){
	
.container{
	margin: 60px 110px;
	width:;
	font-family: sans-serif;
}
header{
	text-align: center;
}
header h1{
	font-size: 35px;
	line-height: 3rem;
}
header span{
	font-weight: bold;
}
header h3{
	font-size: 18px;
	line-height: 2.5rem;
	color: #0779ea;
}
header p{
	font-size: 18px;
	line-height: 2rem;
	margin-bottom: 16px;
}
}
/*end header*/
.career {
	margin-top: 10px;
	font-weight: ;
}
.career h2{
	font-size: 12px;
	line-height: 1.1rem;
}
.career p{
	font-size: 10px;
	margin-top: 2px;
}
/*390px*/
@media(min-width:390px){
.career {
	margin-top: 11px;
}
.career h2{
	font-size: 15px;
	line-height: 1.5rem;
}
.career p{
	font-size: 11px;
	margin-top: 3px;
}
}
/*768*/
@media(min-width:768px){
.career {
	margin-top: 14px;
}
.career h2{
	font-size: 20px;
	line-height: 2rem;
}
.career p{
	font-size: 15px;
	margin-top: 4px;
}
/*1024*/
}
@media(min-width:1024px){
.career {
	margin-top: 15px;
}
.career h2{
	font-size: 30px;
	line-height: 3rem;
}
.career p{
	font-size: 20px;
	margin-top: 7px;
}
}
/*end career*/

.academi{
	margin-top: 10px;
}
.academi h2{
	font-size: 12px;
	line-height: 1.3rem;
}
.academi h3{
	font-size: 12px;
	font-weight: bold;
	line-height: 1.1rem;
}
.academi p{
	font-size: 10px;
	line-height: 1rem;
}
.academi h4{
	font-size: 10px;
	line-height: 0.9rem;
}
/*390*/
@media(min-width:390px){
.academi{
	margin-top: 11px;
}
.academi h2{
	font-size: 15px;
	line-height: 1.4rem;
}
.academi h3{
	font-size: 14px;
	font-weight: bold;
	line-height: 1.4rem;
}
.academi p{
	font-size: 11px;
	line-height: 1.2rem ;
}
.academi h4{
	font-size: 11px;
	line-height: 1.1rem;
}
/*768*/
}
@media(min-width:768px){
.academi{
	margin-top: 14px;
}
.academi h2{
	font-size: 25px;
	line-height: 2.5rem;
}
.academi h3{
	font-size: 16px;
	font-weight: bold;
	line-height: 2rem;
}
.academi p{
	font-size: 14px;
	line-height: 1.4rem ;
}
.academi h4{
	font-size: 14px;
	line-height: 1.3rem;
}
}
/*1024*/
@media(min-width:1024px){
.academi{
	margin-top: 16px;
}
.academi h2{
	font-size: 30px;
	line-height: 3.5rem;
}
.academi h3{
	font-size: 22px;
	font-weight: bold;
	line-height: 2.5rem;
}
.academi p{
	font-size: 19px;
	line-height: 1.9rem ;
}
.academi h4{
	font-size: 17px;
	line-height: 1.7rem;
}
}
/*end academi*/

.skill{
	margin-bottom: 3rem;
}
.skill h2{
	margin-top: 8px;
	font-size: 11px;
}
.firsttable{
	margin-top: 8px;
	border-collapse: collapse;
	width: 100%;
}
.firsttable td{
	border: 0.5px solid black;
	padding: 7px 3px;
}
.firsttable ul{
	padding-left: 20px ;
	font-size: 8px;
	line-height: 0.8rem;
}
.firsttable h3{
	padding-right: 20px;
	font-size: 11px;
	line-height: 0.8rem;
}
.firsttable h4{
	padding-right: 10px ;
	font-size: 8px;
}
.firsttable p{
	padding-left: 15px ;
	padding-right: 5px;
	font-size: 8px;
}
/*390*/
@media(min-width:390px){
	
.skill{
	margin-bottom: 4rem;
}
.skill h2{
	margin-top: 9px;
	font-size: 15px;
}
.firsttable{
	margin-top: 9px;
	border-collapse: collapse;
	width: 100%;
}
.firsttable td{
	border: 0.5px solid black;
	padding: 12px 4px;
}
.firsttable ul{
	padding-left: 22px ;
	font-size: 9px;
	line-height: 1rem;
}
.firsttable h3{
	padding-right: 10px;
	font-size: 12px;
	line-height: 1rem;
}
.firsttable h4{
	padding-right: 10px ;
	font-size: 9px;
}
.firsttable p{
	padding-left: 17px ;
	padding-right: 5px;
	font-size: 9px;
}
}
/*768*/
@media(min-width:768px){
	
.skill{
	margin-bottom: 5rem;
}
.skill h2{
	margin-top: 12px;
	font-size: 20px;
}
.firsttable{
	margin-top: 9px;
	border-collapse: collapse;
	width: 100%;
}
.firsttable td{
	border: 0.5px solid black;
	padding: 12px 4px;
}
.firsttable ul{
	padding-left: 25px ;
	font-size: 12px;
	line-height: 1.5rem;
}
.firsttable h3{
	padding-right: 70px;
	font-size: 18px;
	line-height: 1.5rem;
}
.firsttable h4{
	padding-right: 12px ;
	font-size: 14px;
}
.firsttable p{
	padding-left: 100px ;
	padding-right: 1px;
	font-size: 14px;
}
}
/*1024*/
@media(min-width:1024px){

.skill{
	margin-bottom: 9rem;
}
.skill h2{
	margin-top: 12px;
	font-size: 30px;
}
.firsttable{
	margin-top: 18px;
	border-collapse: collapse;
	width: 100%;
}
.firsttable td{
	border: 1px solid black;
	padding: 18px 6px;
}
.firsttable ul{
	padding-left: 40px ;
	font-size: 18px;
	line-height: 2rem;
}
.firsttable h3{
	padding-right: 200px;
	font-size: 25px;
	line-height: 2rem;
}
.firsttable h4{
	padding-right: 12px ;
	font-size: 20px;
}
.firsttable p{
	padding-left: 80px ;
	padding-right: 1px;
	font-size: 18px;
}
}
/*end skill*/

.tech{
	margin-top: 4rem;
	font-size: 12px;
}
.technical{
	display: flex;
	width: 100%;
	margin-bottom: 3rem;
}
.core{
	width: 60%;
}
.core h4{
	color: #0779ea;
	font-size: 9px;
	margin-top: 0.8rem;
}
.core h3{
	font-size: 10px;
	line-height: 1rem; 
}

.code h4{
	color: #0779ea;
	font-size: 9px;
	margin-top: 0.8rem;
}
.code h3{
	font-size: 10px;
	line-height: 1rem; 
}
/*390*/
@media(min-width:390px){
	
.tech{
	margin-top: 5rem;
	font-size: 14px;
}
.technical{
	display: flex;
	width: 100%;
	margin-bottom: 4rem;
}
.core{
	width: 50%;
}
.core h4{
	color: #0779ea;
	font-size: 11px;
	margin-top: 1rem;
}
.core h3{
	font-size: 12px;
	line-height: 1.3rem; 
}

.code h4{
	color: #0779ea;
	font-size: 11px;
	margin-top: 1rem;
}
.code h3{
	font-size: 12px;
	line-height: 1.3rem; 
}
}
/*768*/
@media(min-width:768px){
	
.tech{
	margin-top: 7rem;
	font-size: 20px;
}
.technical{
	display: flex;
	width: 100%;
	margin-bottom: 4rem;
}
.core{
	width: 50%;
}
.core h4{
	color: #0779ea;
	font-size: 15px;
	margin-top: 1.2rem;
}
.core h3{
	font-size: 15px;
	line-height: 1.6rem; 
}

.code h4{
	color: #0779ea;
	font-size: 15px;
	margin-top: 1.2rem;
}
.code h3{
	font-size: 15px;
	line-height: 1.6rem; 
}
}
/*1024*/
@media(min-width:1024px){
	
.tech{
	margin-top: 9rem;
	font-size: 30px;
}
.technical{
	display: flex;
	width: 100%;
	margin-bottom: 5rem;
}
.core{
	width: 50%;
}
.core h4{
	color: #0779ea;
	font-size: 20px;
	margin-top: 1.7rem;
}
.core h3{
	font-size: 20px;
	line-height: 1.9rem; 
}

.code h4{
	color: #0779ea;
	font-size: 20px;
	margin-top: 1.7rem;
}
.code h3{
	font-size: 20px;
	line-height: 1.9rem; 
}
}
/*end technical*/

.projectout{
	margin-bottom: 3rem;
}
.project{
	font-size: 12px;
}
.secondtable{
	margin-top: 7px;
	border-collapse: collapse;
	width: 100%;
}
.secondtable td{
	border: 0.5px solid black;
	padding: 7px 3px;
}
.secondtable h2{
	font-size: 11px;
}
.secondtable h4{
	font-size: 8px;
	line-height: 0.8rem;
	color: #0779ea;
}
.secondtable h3{
	font-size: 11px;
}
.secondtable a{
	color: #0779ea;
}
.secondtable p{
	font-size: 11px;
	line-height: 0.8rem;
}
.secondtable ul{
	font-size: 11px;
	margin-left: 1.5rem;
	line-height: 0.8rem;
}
/*390*/
@media(min-width:390px){
	
.projectout{
	margin-bottom: 4rem;
}
.project{
	font-size: 14px;
}
.secondtable{
	margin-top: 8px;
	border-collapse: collapse;
	width: 100%;
}
.secondtable td{
	border: 0.5px solid black;
	padding: 7px 3px;
}
.secondtable h2{
	font-size: 13px;
}
.secondtable h4{
	font-size: 8px;
	line-height: 1rem;
	color: #0779ea;
}
.secondtable h3{
	font-size: 13px;
}
.secondtable a{
	color: #0779ea;
}
.secondtable p{
	font-size: 10px;
	line-height: 1rem;
}
.secondtable ul{
	font-size: 10px;
	margin-left: 1.7rem;
	line-height: 1rem;
}
}
/*768*/
@media(min-width:768px){
	
.projectout{
	margin-bottom: 5rem;
}
.project{
	font-size: 20px;
}
.secondtable{
	margin-top: 18px;
	border-collapse: collapse;
	width: 100%;
}
.secondtable td{
	border: 0.5px solid black;
	padding: 9px 4px;
}
.secondtable h2{
	font-size: 18px;
}
.secondtable h4{
	font-size: 15px;
	line-height: 1.5rem;
	color: #0779ea;
}
.secondtable h3{
	font-size: 17px;
}
.secondtable a{
	color: #0779ea;
}
.secondtable p{
	font-size: 16px;
	line-height: 1.5rem;
}
.secondtable ul{
	font-size: 16px;
	margin-left: 2.5rem;
	line-height: 1.5rem;
}
}
/*1024*/
@media(min-width:1024px){
	
.projectout{
	margin-bottom: 7rem;
}
.project{
	font-size: 30px;
}
.secondtable{
	margin-top: 25px;
	border-collapse: collapse;
	width: 100%;
}
.secondtable td{
	border: 1px solid black;
	padding: 15px 6px;
}
.secondtable h2{
	font-size: 24px;
}
.secondtable h4{
	font-size: 20px;
	line-height: 2.1rem;
	color: #0779ea;
}
.secondtable h3{
	font-size: 23px;
}
.secondtable a{
	color: #0779ea;
}
.secondtable p{
	font-size: 20px;
	line-height: 2.1rem;
}
.secondtable ul{
	font-size: 20px;
	margin-left: 3.5rem;
	line-height: 2.1rem;
}
}
/*end secondtable*/

.thirdpage{
	margin-top: 3rem;
	margin-bottom: 2rem;
}
.thirdtable{
	margin-top: 10px;
	border-collapse: collapse;
	width: 100%;
}
.thirdtable td{
	border: 0.5px solid black;
	padding: 5px 3px;
}
.thirdtable h2{
	font-size: 11px;
}
.thirdtable h4{
	font-size: 7px;
	line-height: 0.8rem;
}
.thirdtable h3{
	font-size: 11px;
}
.thirdtable a{
	color: #0779ea;
}
.thirdtable p{
	font-size: 10px;
	line-height: 0.8rem;
}
.thirdtable ul{
	font-size: 10px;
	line-height: 0.8rem;
	margin-left: 2rem;
}
/*390*/
@media(min-width:390px){
	
.thirdpage{
	margin-top: 4rem;
	margin-bottom: 3rem;
}
.thirdtable{
	margin-top: 12px;
	border-collapse: collapse;
	width: 100%;
}
.thirdtable td{
	border: 0.5px solid black;
	padding: 7px 4px;
}
.thirdtable h2{
	font-size: 13px;
	line-height: 1.1rem;
}
.thirdtable h4{
	font-size: 8px;
	line-height: 1rem;
}
.thirdtable h3{
	font-size: 11px;
}
.thirdtable a{
	color: #0779ea;
}
.thirdtable p{
	font-size: 9px;
	line-height: 0.8rem;
}
.thirdtable ul{
	font-size: 9px;
	line-height: 0.8rem;
	margin-left: 2rem;
}
}
/*768*/
@media(min-width:768px){
	
.thirdpage{
	margin-top: 5rem;
	margin-bottom: 4rem;
}
.thirdtable{
	margin-top: 15px;
	border-collapse: collapse;
	width: 100%;
}
.thirdtable td{
	border: 0.5px solid black;
	padding: 7px 4px;
}
.thirdtable h2{
	font-size: 18px;
	line-height: 1.5rem;
}
.thirdtable h4{
	font-size: 13px;
	line-height: 1.4rem;
}
.thirdtable h3{
	font-size: 17px;
}
.thirdtable a{
	color: #0779ea;
}
.thirdtable p{
	font-size: 15px;
	line-height: 1.2rem;
}
.thirdtable ul{
	font-size: 15px;
	line-height: 1.2rem;
	margin-left: 3rem;
}
}
/*1024*/
@media(min-width:768px){
	
.thirdpage{
	margin-top: 7rem;
	margin-bottom: 5rem;
}
.thirdtable{
	margin-top: 20px;
	border-collapse: collapse;
	width: 100%;
}
.thirdtable td{
	border: 1px solid black;
	padding: 15px 7px;
}
.thirdtable h2{
	font-size: 25px;
	line-height: 2rem;
}
.thirdtable h4{
	font-size: 19px;
	line-height: 2rem;
}
.thirdtable h3{
	font-size: 23px;
}
.thirdtable a{
	color: #0779ea;
}
.thirdtable p{
	font-size: 20px;
	line-height: 1.8rem;
}
.thirdtable ul{
	font-size: 20px;
	line-height: 1.8rem;
	margin-left: 4rem;
}
}
/*end third table*/

.footer{
	margin-bottom: 5rem;
}
.footer h1{
	font-size: 12px;
	line-height: 2rem;
}
.footer p{
	font-size: 10px;
	line-height: 0.7rem;
}
.footer h3{
	font-size: 11px;
	line-height: 3rem;
	color: #0779ea;
}
/*390*/
@media(min-width:390px){
	
.footer{
	margin-bottom: 6rem;
}
.footer h1{
	font-size: 15px;
	line-height: 2rem;
}
.footer p{
	font-size: 12px;
	line-height: 1rem;
}
.footer h3{
	font-size: 14px;
	line-height: 3.5rem;
	color: #0779ea;
}
}
/*768*/
@media(min-width:768px){
	
.footer{
	margin-bottom: 7rem;
}
.footer h1{
	font-size: 20px;
	line-height: 3rem;
}
.footer p{
	font-size: 17px;
	line-height: 1.5rem;
}
.footer h3{
	font-size: 18px;
	line-height: 4rem;
	color: #0779ea;
}
}
/*1024*/
@media(min-width:768px){
	
.footer{
	margin-bottom: 8rem;
}
.footer h1{
	font-size: 25px;
	line-height: 3.5rem;
}
.footer p{
	font-size: 20px;
	line-height: 2rem;
}
.footer h3{
	font-size: 22px;
	line-height: 5rem;
	color: #0779ea;
}
}
























