*{
	margin:0;
	padding:0;
}
.firstsection{
	background-image:url(image/hero1.jpg);
	height:75vh;
	background-size:cover;
	position:relative;
	background-attachment:fixed;
	z-index:1;
	
}
/*.firstsection::after{
	content:"";
	position:absolute;
	background-color:rgba(13,20,26,0.6);
	top:0;
	left:0;
	bottom:0;
	right:0;
}*/
.header{
	background-color:#084956 ;
	height:10vh;
	position:fixed;
	top:0;
	
}
.container{
	margin:auto;
	width:90%;
	height: auto;

}
.fullheader{
	display:flex;
}
.logo{
	width:200px;
	height:10vh;
	text-align:center;
	margin-top:0;
	text-align:center;
	line-height:8px;
	z-index:1;
}
.logo h1{
	padding-top:35px;
	font-family: sans-serif;
	margin-right:70px;
	color:white;
	letter-spacing:1px;
}
.nav{
	margin-left:450px;
	width:600px;
	height:10vh;
	z-index:1;
	line-height:10px;
}
.nav ul{
	list-style-type:none;
	display:flex;
	padding:40px;
	justify-content:space-around;
	margin:0;
}
.nav ul a{
	text-decoration:none;
	line-height:8px;
	color:white;
	font-size:12px;
	font-family:arial;
}
.nav a:hover{
	color:orange;
	transition:all ease 1s;
}
.main{
	margin-top:px;
	height:200px;
	text-align:center;
	padding-top:10px;
	font-weight:bold;
	z-index:1220;
}
.main h1{
	margin-top:150px;
	font-family:arial;
	font-size:45px;
	font-weight:bold;
	color:white;
	z-index:1;
}
.main p{
	font-family: sans-serif;
	font-size:20px;
	padding:10px;
	color: #34495E;
	z-index:1;
}
.main button{
	
}
.fbutton{
	height:6vh;
	width:150px;
	font-weight:bold;
	background-color:transparent;
	letter-spacing:1px;
	border-radius:20px;
	margin-top:25px;
	border:1.5px solid orange;
	color:white;
	z-index:1;
}
.fbutton:hover{
	background-color:orange;
	transition:all ease 1s;
	
}
.fullfooter{
	height:15vh;
	background-color: #F8F9F9 ;
}
.fffull{
	display:flex;
	justify-content:space-around;
	text-align:center;
}
.ff1{
	height:10vh;
	width:100px;
	margin-top:20px;
	background-color: #F8F9F9;
	padding-top:10px;
	filter: grayscale(100%);

}
.ff1:hover{
	filter:none;
	transition:all ease 0.9s;
	width: 110px;
}
.ff2{
	height:10vh;
	width:100px;
	margin-top:20px;
	background-color: #F8F9F9;
	padding-top:10px;
	filter: grayscale(100%);
}
.ff2:hover{
	filter:none;
	transition:all ease 0.9s;
	width: 110px;
}
.ff3{
	height:10vh;
	width:100px;
	margin-top:20px;
	background-color: #F8F9F9;
	padding-top:10px;
	filter: grayscale(100%);
}
.ff3:hover{
	filter:none;
	transition:all ease 0.9s;
	width: 110px;
}
.ff4{
	height:10vh;
	width:100px;
	margin-top:20px;
	background-color: #F8F9F9;
	padding-top:10px;
	filter: grayscale(100%);
}
.ff4:hover{
	filter:none;
	transition:all ease 0.9s;
	width: 110px;
}
.ff5{
	height:10vh;
	width:100px;
	margin-top:20px;
	background-color: #F8F9F9;
	padding-top:10px;
	filter: grayscale(100%);
}
.ff5:hover{
	filter:none;
	transition:all ease 0.9s;
	width: 110px;
}
.ff6{
	height:10vh;
	width:100px;
	margin-top:20px;
	background-color: #F8F9F9;
	padding-top:10px;
	filter: grayscale(100%);
}
.ff6:hover{
	filter:none;
	transition:all ease 0.9s;
	width: 110px;
}
.secondsection{
	background-color:white;
	height:75vh;
}
.ssf{
	padding-top:70px;
	display:flex;
}
.ssimage{
	width:700px;
	height:55vh;
	background-image:url(image/about.jpg);
	background-size:cover;
	margin-top:10px;
	margin-right:;
	
}
.isfdiv{
	padding:;
	margin-left:50px;
	background-color:white;
	width:600px;
	
}
.vol{
	height:20vh;
	width:600px;
	background-color:white;
	margin-left:;
}
.vol h2{
	font-family: sans-serif;
	font-weight:bold;
	font-size:35px;
}
.vol p{
	padding-top:10px;
	color: #707B7C ;
	font-family:arial;
	font-size:15px;
}
.isb{
	display:flex;
	background-color:white;
	height:30vh;
	margin-top:30px;
	width:600px;

}
.corp{
	height:25vh;
	width:300px;
	background-color:white;
	margin-left:;
	margin-top:10px;
}
.bxr{
	font-size:45px;
	color:gray;
}
.incorp h2{
	padding-top:10px;
}
.incorp p{
	color: #707B7C ;
	font-family:arial;
	font-size:15px;
}
.ulla{
	height:25vh;
	width:300px;
	background-color:white;
	margin-left:20px;
	margin-top:10px;
}
.inulla h2{
   padding-top:10px;
}.inulla p{
	color: #707B7C ;
	font-family:arial;
	font-size:15px;
}
.bxc{
	font-size:45px;
	color:gray;
}
.secondfooter{
	height:20vh;
	background-color: #F8F9F9;
}
.sffn{
	padding-top:20px;
	display:flex;
	justify-content:space-around;
}
.shf1{
	height:8vh;
	width:auto;
	margin-left:70px;
	margin-right:130px;
	text-align:center;
	font-size:40px;
}
.shf1 span{
	font-size:15px;
	padding-top:10px;
	line-height:10px;
   
}
.thheader{
	height:20vh;
	background-color:;
	padding-top:10px;
	text-align:center;
}
.thheader{
	font-family:arial;
	font-size:13px;
}
.services{
	margin-top:;
	height:7vh;
	background-color:white;
	text-align:center;
	padding:10px;
}
.sbutton{
	margin-bottom:10px;
	width:60px;
	border:1.5px solid yellow;
	font-weight:bold;
}
.thirdsection{
	height:100vh;
	background-color:pink;
	display:flex;
}
.holsixbox1{
	height:45vh;
	background-color:yellow;
	display:flex;
	justify-content:space-around;
	text-align:center;
}
.hsb1{
	height:43vh;
	width:30%;
	background-color:gray;
	margin-top:px;
	margin-left:10px;
	margin-right:10px;
	margin-top:5px;
	text-align:center;
}
.bid{
	font-size:30px;
}
.bif{
	font-size:30px;
}
.bit{
	font-size:30px;
}
.holsixbox2{
	height:45vh;
	background-color:gray;
	display:flex;
	justify-content:space-around;
	padding-top:10px;
	text-align:center;
}
.hsb2{
	height:43vh;
	width:30%;
	background-color:red;
	margin-left:10px;
	margin-right:10px;
}
.bil{
	font-size:30px;
}
.bis{
	font-size:30px;
}
.bia{
	font-size:30px;
}
.fsh{
	height:15vh;
	background-color:blue;
	padding-top:25px;
}
.callto{
	height:10vh;
	background-color:white;
}
.fourthsection{
	height:80vh;
	background-color:pink;

}
.fosh{
	height:20vh;
	width:100%;
	background-color:red;
	padding-top:10px;
}
.ifosh{
	height:10vh;
	width:80%;
	background-color:white;
	margin:15px;
	margin-left:10%;
}
.htbox{
	height:60vh;
	background-color:yellow;
	display:flex;
	justify-content:space-between;
}
.trbox{
	height:40vh;
	width:350px;
	background-color:white;
	margin-top:80px;
	
}
.fivethsection{
	height:10vh;
	background-color:pink;

}
.fivethsection{
	height:20vh;
	background-color:gray;
	padding-top:20px;
}
.pofo{
	margin-top:10px;
	height:7vh;
	background-color:white;
	padding-top:30px;
}
.ipofo{
	margin-top:10px;
	height:5vh;
	background-color:blue;
}
.sixthsection{
	height:120vh;
	background-color:green;
	padding-top:30px;
	display:flex;
}
.nihbox1{
	height:35vh;
	background-color:yellow;
	display:flex;
	justify-content:space-between;
}
.nhbo{
	display:flex;
}
.nbox1{
	height:30vh;
	width:400px;
	background-color:aqua;
	margin-top:20px;
	margin-left:60px;
	margin-right:90px;
	display:flex;
}
.nihbox2{
	height:35vh;
	background-color:white;
	display:flex;
	justify-content:space-between;
}
.nbox2{
	height:30vh;
	width:400px;
	background-color:aqua;
	margin-top:20px;
	margin-left:60px;
	margin-right:90px;
}
.nihbox3{
	height:35vh;
	background-color:yellow;
	display:flex;
	justify-content:space-between;
}
.nbox3{
	height:30vh;
	width:400px;
	background-color:aqua;
	margin-top:20px;
	margin-left:60px;
	margin-right:90px;
}
.savanthsection{
	height:85vh;
	background-color:pink;

}
.hteam{
	height:20vh;
	width:100%;
	background-color:blue;
	padding-top:10px;
}
.ihteam{
	height:10vh;
	width:80%;
	background-color:white;
	margin:15px;
	margin-left:10%;
}
.htrbox{
	height:60vh;
	background-color:gray;
	display:flex;
	justify-content:space-between;
}
.itrbox{
	height:40vh;
	width:350px;
	background-color:white;
	margin-top:80px;
}
.eithsection{
	height:20vh;
	background-color:red;
	padding-top:20px;
}
.pric{
	margin-top:10px;
	height:7vh;
	background-color:white;
	padding-top:30px;
}
.ipric{
	margin-top:10px;
	height:5vh;
	background-color:blue;
}
.ehsection{
	height:60vh;
	background-color:gray;
}
.fohbox{
	height:60vh;
	background-color:gray;
	display:flex;
	justify-content:space-between;
}
.ifobox{
	height:40vh;
	width:280px;
	background-color:white;
	margin-top:80px;
}
.nithsection{
	height:80vh;
	background-color:red;
	padding-top:20px;
}
.freq{
	margin-top:10px;
	height:7vh;
	background-color:white;
	padding-top:30px;
}
.ifreq{
	margin-top:10px;
	height:5vh;
	background-color:blue;
}
.icontent{
	height:60vh;
	background-color:blue;
	margin-top:20px;
}
.tenthsection{
	height:90vh;
	background-color:yellow;
}
.contact{
	height:15vh;
	width:100%;
	background-color:gray;
	padding-top:10px;
}
.inscontact{
	height:5vh;
	width:80%;
	background-color:blue;
	margin-left:10%;
	margin-top:20px;
}
.inhcontact{
	height:70vh;
	background-color:pink;
	margin-top:20px;
	padding-top:5px;
	display:flex;
}
.inchb1{
	height:65vh; 
	width:550px;
	background-color:gray;
	margin-top:20px;
	margin-left:90px;
}
.inchb2{
	height:65vh;
	width:550px;
	background-color:gray;
	margin-top:20px;
	margin-left:40px;
}

.lastsection{
	background-color: green;
	height: 80vh;
	padding-top:10px;
}
.focbox{
	height:55vh;
	background-color:pink;
	display:flex;
	justify-content:space-around;
}
.ifocbox{
	height:45vh;
	background-color:blue;
	width:300px;
	margin-top:20px;
}
.lastfooter{
	height:20vh;
	background-color:yellow;
	margin-top:20px;
	display:flex;
	justify-content:space-between;
}
.inlfr{
	height:15vh;
	width:300px;
	background-color:white;
	margin-top:20px;
	margin-left:20px;
	margin-right:40px;
}































